body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  min-width: 1280px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 0%,
    rgba(227, 255, 248, 0.38) 100%
  );
}
.page {
  margin: auto;
  padding-top: 65px;
  width: 1005px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
nav,
ul {
  display: flex;
  gap: 45px;
  list-style: none;
  color: #1f1534;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  width: 489px;
  font-weight: 400;
}

span {
  color: #89c5cc;
  font-weight: bold;
}

p {
  color: #7d7987;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 438px;
}

button {
  background-color: #69b99d;
  color: white;
  text-transform: uppercase;
  border: none;
  display: flex;
  padding: 14px 32px 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 80px;
  line-height: 30px;
}
footer a {
  color: #1f1534;
  text-decoration: none;
}
.balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
